<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.daniela.manolova.ryanair.utils.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.daniela.manolova.ryanair.tests.LogInTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
